@import url("https://fonts.googleapis.com/css2?family=Muli:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  list-style: none;
  text-decoration: none;
  border: none;
}

body {
  margin: 0;
  background-color: #000;
}

.container {
  align-items: center;
  background-color: #000;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

nav {
  margin-bottom: 20px;
  padding: 5px;
  background-color: #303245;
}
.logo-img {
  width: 250px;
  height: auto;
}

/* posts css */

/* .post {
  /* background-color: #1c1e21;
  padding: 2em;
  width: 30em;
  border-radius: 30px;
  text-align: center;
  margin-left: 40em;
  color: aliceblue;
  background-color: #1c1e21;
  border-radius: 20px;
  box-sizing: border-box;
  height: 600px;
  padding: 50px;
  width: 700px;
  margin-bottom: 50px;
  margin-left: 9em;
  font-family: sans-serif;
}

.input-post {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 50%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.avatar {
  height: 80px;
  width: auto;
}

.avatar-name {
  display: flex;
  align-items: center;
  justify-content: left;
}

.post-date {
  margin-left: 300px;
}

.btn-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.btn-like {
  display: flex;
  width: 160px;
  padding: 5px 5px;
  justify-content: center;
  align-items: center;
  background-color: #bcc0c4;
  border-radius: 5px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 40px;
  margin-top: 5px;
  outline: 0;
  text-align: center;
  width: 19%;
}

.btn-like:hover {
  background-color: #65676b;
}

.fas {
  color: #000;
  font-size: 18px;
}

.btn-comment {
  display: flex;
  width: 160px;
  padding: 5px 5px;
  justify-content: center;
  align-items: center;
  background-color: #bcc0c4;
  border-radius: 5px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 40px;
  margin-top: 5px;
  outline: 0;
  text-align: center;
  width: 19%;
}

.btn-comment:hover {
  background-color: #65676b;
}

.btn-save {
  display: flex;
  width: 160px;
  padding: 5px 5px;
  justify-content: center;
  align-items: center;
  background-color: #bcc0c4;
  border-radius: 5px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 40px;
  margin-top: 5px;
  outline: 0;
  text-align: center;
  width: 19%;
}

.btn-save:hover {
  background-color: #65676b;
} */

/* hover {
          background-color: rgba(0, 0, 0, 0.05);
          cursor: pointer;
        } */

/* form css */

.form {
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  height: 800px;
  padding: 50px;
  width: 700px;
  margin-bottom: 50px;
  margin-left: 9em;
}
@media (max-width: 750px) {
  .form {
    width: 500px;
  }
}
@media (max-width: 650px) {
  .form {
    width: 400px;
  }
}
@media (max-width: 550px) {
  .form {
    width: 300px;
  }
  .submit {
    position: relative;
  }
}
@media (max-width: 450px) {
  .form {
    width: 200px;
  }
  .a-inte ul {
    flex-direction: column;
  }
  .submit {
    position: relative;
  }
}

.title {
  color: #eee;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}

.subtitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.input-container-new {
  height: 150px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut {
  background-color: #15172b;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}

.cut-short {
  width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: #dc2f55;
}

.submit {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  outline: 0;
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: #06b;
}
/* new post */

.post {
  background-color: #242526;
  border-radius: 10px;
  margin-top: 50px;
  margin-left: 9em;
  padding: 20px 20px;
  height: 800px;
  width: 680px;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}
.post-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.post-user-info {
  display: flex;
  align-items: center;
}
.profile h3 a {
  color: white;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 600;
}
.profile h3 a:hover,
.post-time a:hover,
.comment a:hover,
.like a:hover,
.all-com a:hover,
.user-name:hover {
  text-decoration: underline;
}
.post-time a {
  color: rgb(176, 179, 184);
  font-size: 13px;
  font-weight: 600;
}
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.post-settings {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
}
.post-settings:hover {
  background-color: rgb(58, 59, 60);
}
.content {
  color: white;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 10px;
}
.inte {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}
.comment a {
  color: rgb(176, 179, 184);
  font-size: 15px;
  font-weight: 400;
}
.like a {
  font-size: 15px;
  color: rgb(176, 179, 184);
}
.like i {
  margin-right: 6px;
  color: rgb(19, 159, 249);
}
.a-inte ul {
  display: flex;
  justify-content: space-between;
  text-align: center;
  border-bottom: 1px solid rgb(58, 59, 60);
  border-top: 1px solid rgb(58, 59, 60);
  padding: 5px 0;
}
.a-inte ul a {
  width: 100%;
  padding: 6px 0;
  color: rgb(184, 187, 191);
}
.a-inte ul a i {
  font-size: 14px;
  margin-right: 5px;
}
.a-inte ul a:hover {
  background-color: rgb(58, 59, 60);
  border-radius: 5px;
}
.all-com {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 9px 0 5px 0;
  margin-bottom: 5px;
}
.all-com a {
  color: rgb(176, 179, 184);
  font-size: 15px;
  font-weight: 600;
}
.users-comments ul {
  display: flex;
  flex-direction: column;
}
.users-comments ul li {
  display: flex;

  margin-bottom: 10px;
}
.users-comments-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
}
.users-comments-avatar img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.users-com {
  display: flex;
  flex-direction: column;
  background-color: rgb(58, 59, 60);
  border-radius: 10px;
  padding: 8px;
}
.user-name {
  color: rgb(228, 230, 235);
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 5px;
}
.user-com {
  color: rgb(228, 230, 235);
  font-size: 13px;
  font-weight: 400;
}
.my-com {
  display: flex;
}
.inp-com {
  width: 100%;
  position: relative;
}
.inp-com input {
  width: 100%;
  height: 36px;
  border-radius: 18px;
  background-color: rgb(58, 59, 60);
  color: white;
  padding: 5px 55px 5px 12px;
}
.inp-buttons {
  display: flex;
  height: 34px;
  width: 75px;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
}
.inp-buttons li a {
  color: rgba(255, 255, 255, 0.4);
  font-size: 12px;
  margin-right: 5px;
  padding: 8px 9px;
  border-radius: 50%;
}
.inp-buttons li a:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
}
.inp-buttons li:last-child a {
  margin-right: 0;
}
@media (max-width: 750px) {
  .post {
    width: 500px;
  }
}
@media (max-width: 650px) {
  .post {
    width: 400px;
  }
}
@media (max-width: 550px) {
  .post {
    width: 300px;
  }
  .inp-buttons {
    position: relative;
  }
}
@media (max-width: 450px) {
  .post {
    width: 200px;
  }
  .a-inte ul {
    flex-direction: column;
  }
}

.post-title {
  color: white;
  font-weight: 400;
  padding-bottom: 0.5em;
  text-transform: uppercase;
}
.input-post {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 80%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}
.post-attempt {
  color: rgb(254, 254, 254);
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 1em;
}
